yfinance==0.2.37
pandas==2.2.0
strictly-typed-pandas==0.2.1
scikit-learn==1.4.0
tweety==0.1.6

# install pytest locally as - alternative one, installed globally - cant find module from current venv
pytest==8.0.1

# Technical Analysis Library in Python
# https://pypi.org/project/ta/
ta==0.11.0

# !!!
# Note If you have the pytest-cov coverage module installed, VS Code doesn't stop at breakpoints while debugging because pytest-cov is using the same technique to access the source code being run. To prevent this behavior, include --no-cov in pytestArgs when debugging tests, for example by adding "env": {"PYTEST_ADDOPTS": "--no-cov"} to your debug configuration. (See Debug Tests above about how to set up that launch configuration.) (For more information, see Debuggers and PyCharm in the pytest-cov documentation.)
# source: https://code.visualstudio.com/docs/python/testing
# example cc:
#   pytest --cov .
#   pytest --cov-report html --cov .
pytest-cov==4.1.0

ipykernel